/* ========== ESQUELETO MAIN  ========== */

#main-container {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 15% 47.5% 15% 12.5%;
    align-items: center;
    align-content: center;
}

#main-title {
    grid-row: 2;
    margin: 30px 30px;
    justify-content: center;
    align-items: center;
    color: rgb(227, 0, 0);
}

#main-title h2 {
    margin-top: 5px;
}

/* ========== ESCANER  ========== */

#escaner {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 5;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;
    margin: 30px;
    align-self: center;
}

#escaner video {
    max-width: 100%; 
    max-height: 100%; 
    width: auto;
    height: auto;
}