#main-container {
    text-align: center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 10% 59.5% 8% 12.5%;
}

#main-title {
    grid-row: 2;
    margin: 10px 10px;
    justify-content: center;
    align-items: center;
    color: rgb(227, 0, 0);
}

#main-title h2 {
    margin-top: 5px;
}

#items-list {
    display: grid;
    grid-row-start: 3;
    grid-row-end: 4;
    grid-template-rows: auto;
    grid-gap: 10px;
    padding: 10px;
    overflow: scroll;
}

#boton-pago {
    grid-row: 4;
    background-color: white;
    border-radius: 30px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 25px;
    font-weight: bold;
    color: rgb(227, 0, 0);
    border: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

#boton-pago:active {
    /* Cambiar la sombra cuando se hace clic */
    background-color: rgb(227, 0, 0);
    color: white;
}



.item {
    display: flex;
    flex: 1; 
    padding: 30px;
    background-color: rgba(217, 217, 217, 0.3);
    border-radius: 30px;
    font-size: large;
    height: 120px;
    margin: 20px;
}

.item-details {
    flex: 1; 
    text-align: left; /* Alinea el texto a la izquierda */
    display: flex; /* Hace que el contenido se comporte como un contenedor flex */
    flex-direction: column;
    padding: 10px;
}

.item-name {
    font-weight: bold;
    font-size: larger;
    margin-bottom: 5px;
    white-space: nowrap; /* No permitir envoltura de texto */
    overflow: hidden; /* Ocultar texto que exceda el ancho m치ximo */
    text-overflow: ellipsis; /* Mostrar puntos suspensivos cuando el texto se recorta */
    max-width: 150px; /* Ancho m치ximo permitido */
}

.item-name:hover {
    white-space: normal; /* Permitir que el texto se envuelva cuando se pasa el mouse */
}

.message {
    display: none;
    position: relative;
    transform: translateX(-50%);
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    color: black;
    height: auto;
    left: 70px;
}

.item-details:hover .message {
    display: block;
}

.item-brand {
    margin-bottom: 5px;
}

.item-size {
    margin-bottom: 5px;
}

.item-price {
    font-weight: bold;
    margin-bottom: 5px;
    margin-bottom: 5px;
}

.item-photo {
    flex: 0 0 auto; 
    padding: 10px;
}

.item-photo-img {
    max-width: 100%; 
    height: 100px; 
}

.separador {
    height: 70px;
}

/* CSS Modal y boton para ir de cesta a pagar */

#main-container {
    text-align: center;
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 10% 10% 52.5% 15% 12.5%;
}

#main-title {
    grid-row: 2;
    margin: 10px 10px;
    justify-content: center;
    align-items: center;
    color: rgb(227, 0, 0);
}

#main-title h2 {
    margin-top: 5px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }
  
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px; 
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center; 
}
  
.close {
    color: red; 
    float: right;
    font-size: 40px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: darkred;
    text-decoration: none;
    cursor: pointer;
}
  
.microphone-icon {
    font-size: 48px; /* Tama침o m치s grande */
    margin-top: 20px; /* Margen superior */
    cursor: pointer;
}